


.faq-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 3;
    max-width: 1100px;
  }

.faq-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #08323c57;
    margin-bottom: .7rem;
    align-items: stretch;
}



.toggle-icon{
    background: #e81010;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    padding: 0 .3rem;
}

.toggle-icon-2{
    display: flex;
    background: #e81010;
    display: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 .3rem;
    font-family: 'Courier New', Courier, monospace;
}

.faq-question {
    cursor: pointer;
    display: flex;
    align-items: left;
    justify-content: space-between;
    transition: background 0.3s ease;
    background-color: #dfdacd;
    text-align: left;
}

.faq-question div{
    display: flex;
    align-items: start;
    justify-content: start;  
    padding: .7rem;  
}

.faq-question h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(1rem + 0.5vw);
    color: #000;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.faq-question:hover {
    background: #ecf83c;
}

.faq-answer {
    height: 0;
    overflow: hidden;
    color: #000;
    background-color: #f5e9d8f9;
}

.faq-answer p {
    margin: 0;
    padding: 1rem;
    font-family: 'SpecialElite-Regular';
    text-align: justify;
}

.invisible-ink span {
    background: #01080dd9;
    color: #08253970;
}


  
