
.faq-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 3;
    max-width: 900px;
  }

.faq-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #08323c57;
    margin-bottom: .7rem;
    align-items: stretch;
}



.toggle-icon{
    background: #e81010;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.toggle-icon-2{
    display: flex;
    background: #e81010;
    display: none;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.faq-question {
    cursor: pointer;
    display: flex;
    align-items: left;
    justify-content: space-between;
    transition: background 0.3s ease;
    background-color: #0a2d47;
    padding: .5rem;
    text-align: left;
}

.faq-question div{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.faq-question h4{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.faq-question:hover {
    background: #0a2d47c5;
}

.faq-answer {
    height: 0;
    overflow: hidden;
    background-color: #08253970;
}

.faq-answer p {
    padding: var(--padding-small);
    font-family: 'SpecialElite-Regular';
    text-align: justify;
}

.invisible-ink span {
    background: #01080dd9;
    color: #08253970;
}

