/*
HTML Structure:
 <button id="menuToggle" aria-label="Toggle Menu">
      <span> </span>
      <span> </span>
      <span> </span>
  </button>
  <nav id="mainNav">
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>
*/
/* Font Size for Navigation */
:root {
  --nav--padding-small: clamp(1.0375rem, -0.7543918918918919rem + 2.95945945945946vw, 15.5rem);
  --nav--font-size: clamp(1.5375rem, -0.2293918918918919rem + 5.2405405405405406vw, 3.5rem);
  --nav--front-font-size: clamp(1rem, -0.2293918918918919rem + 2.2405405405405406vw, 2.7rem);
}

/* Navigation Toggle Button */
#menuToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background: url(/img/smiley.png) no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    z-index: 997;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
  }
  
 

  /* Navigation Menu */
  #mainNav {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen */
    width: 100%;
    height: 100vh;
    background: #710808;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 995;
    gap: var(--nav--padding-small);
    transition: left 0.5s ease; /* Fallback for non-GSAP users */
  }
  
  #mainNav a {
    font-family: 'BalladofDwightFrye';
    color: #fff;
    text-decoration: none;
    font-size: var(--nav--font-size);
    transition: color 0.3s ease;
    text-align: center;
  }
  
  #mainNav a:hover {
    color: #ff6347; /* Tomato color */
  }


  /* Responsive Styles */
  @media (min-width: 768px) {
    #mainNav {
        //width: 300px;
        //left: -300px; /* Adjust for larger screens */
    }
  }

  @media (max-height: 900px) and (min-width: 600px) {
    #mainNav {
      --nav--padding-small: 1rem;
      --nav--font-size: 2.8rem;
    }
  }