@import url("./nav-fc.css");
@import url("./photogal.css");


*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

@font-face{
  font-family: 'BalladofDwightFrye';
  src: url('/fonts/BalladofDwightFrye.ttf')format('truetype');
font-weight:normal;
font-style:normal;
font-display:swap;
}

@font-face{
  font-family: 'Bangers-Regular';
  src: url('/fonts/Bangers-Regular.ttf')format('truetype');
font-weight:normal;
font-style:normal;
font-display:swap;
}

@font-face{
  font-family: 'SpecialElite-Regular';
  src: url('/fonts/SpecialElite-Regular.ttf')format('truetype');
font-weight:normal;
font-style:normal;
font-display:swap;
}

@font-face{
  font-family: 'BigShoulders-VariableFont_opsz,wght';
  src: url('/fonts/BigShoulders-VariableFont_opsz,wght.ttf')format('truetype');
font-weight:normal;
font-style:normal;
font-display:swap;
}

:root {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  --padding-small: clamp(.6rem, -0.7543918918918919rem + 2.95945945945946vw, 15.5rem);
  --padding-medium: clamp(1.2375rem, -0.7543918918918919rem + 4.95945945945946vw, 15.5rem);
  --padding-large: clamp(3.375rem, -0.7543918918918919rem + 11.95945945945946vw, 15.5rem);
  --h6--font-size: clamp(1rem, -0.7432432432432432rem + 1.216216216216218vw, 11.875rem);
  --h5--font-size: clamp(1.2rem, -0.7432432432432432rem + 1.216216216216218vw, 11.875rem);
  --h4--font-size: clamp(1.3rem, -0.7432432432432432rem + 2.216216216216218vw, 7.875rem);
  --h3--font-size: clamp(1.9rem, -0.7432432432432432rem + 3.216216216216218vw, 11.875rem);
  --h2--font-size: clamp(1.19rem, -0.7432432432432432rem + 5.216216216216218vw, 11.875rem);
  --h1--font-size: clamp(1.5rem, -0.7432432432432432rem + 11.216216216216218vw, 11.875rem);
  --p--font-size: clamp(1.3rem, -0.6293918918918919rem + 2.1316216216216218vw, 3.275rem);
}

/* Hide all content initially */
html {
  visibility: hidden;
  background-color: #111;
}

/* But make the curtain visible */
#loading-curtain {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 9999;
  color: rgb(92, 8, 8);
  font-size: 10cqi;
  font-weight: 900;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: height 1.5s cubic-bezier(0.950, 0.050, 0.795, 0.035),
              opacity .3s cubic-bezier(0.950, 0.050, 0.795, 0.035);
}
body, html{
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}
.white{
  color: #ffffff;
} 

p{
  margin: 0;
  padding: 0;
  font-family: 'BigShoulders-VariableFont_opsz,wght', sans-serif;
  font-size: var(--p--font-size);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
  background: #2c0605;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  min-height: 100svh;
  position: relative;
  z-index: 1;
  background-color: rgb(29, 15, 15);
}


.row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
  align-items: stretch;
  z-index: 1;
  padding: var(--padding-large) var(--padding-medium);
}

.col{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.red{
  background-color: #db1111; 
}

.padding-large{
  padding: var(--padding-large);
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  background-color: #370404;
  text-align: center;
  overflow: hidden;
}

.background img{
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%; 
  width: 100%;
  height: 100%;
  opacity: 0.2;
  object-fit: cover;
  object-position: center;
}

.clear img{
  opacity: .6;
}

.background.left img{
  object-position: left;
}

.background.right img{
  object-position: right;
}


h1{
  font-size: var(--h1--font-size);
  font-weight: 700;
  margin: 0;
}

h2{
  font-size: var(--h2--font-size);
  font-weight: 700;
  margin: 0;
}

h3{
  font-size: var(--h3--font-size);
  font-weight: 500;
  margin: 0;
}

h4{
  font-size: var(--h4--font-size);
  font-family: 'Bangers-Regular';
  font-weight: 800;
  margin: 0;
}

h5{
  font-size: var(--h5--font-size);
  font-weight: 500;
  margin: 0;
}

h6{
  font-size: var(--h6--font-size);
  font-weight: 500;
  margin: 0;
}

p{
  font-size: var(--p--font-size);
  font-weight: 400;
  margin: 0;
}

.opening-copy{
  font-size: var(--h4--font-size);
  line-height: 1.8;
  text-align: center;
  color: #f9f9f9;
  font-family: 'BalladofDwightFrye';
}

.opening{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  background-color: #460f0f;
}


.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 100svh;
  position: relative;
  background-color: #460f0f;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  width: 80vw;
  height: 67vh;
}

.title img{
  width: 100%;
  height: 47%;
  object-fit: fill;
} 

a.start {
  position:absolute;
  bottom: -30px;
  right: 0;
  left: 0;
  color: red;
  text-decoration: underline;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  text-align: center;
  position: relative;
  z-index: 5;
  z-background: url(/img/backgrounds/button-1.webp) no-repeat center center fixed;
  z-background-size: stretch;
  margin-top: 1rem;
  z-padding: 2rem 3rem;
  text-transform: uppercase;
}
a.start:hover {
  color: #000000;
}


.distressed{
  background-image: url(/img/backgrounds/distressed-1.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.two{
  background-image: url(/img/backgrounds/distressed-2.webp);
}

.three{
  background-image: url(/img/backgrounds/distressed-3.webp);
}

.four{
  background-image: url(/img/backgrounds/distressed-4.webp);
}

.video-1{
  position: absolute;
  z-index: 0;
  width: 100%; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.video-1 video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
} 

.max-width{
  max-width: 1300px;
}

.top{
  z-index: 3;
}

.overview{
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem 2rem 2rem;
  max-width: 600px;
  width: 80%;
  max-width: 600px;
  position: relative;
  background-color: #3F1111;
  z-index: 3;
  position: absolute;
  bottom:5%;
  left:5%;
  transform: rotate(-4deg);
}

.overview .float{
  position: absolute;
  top: -2vw;
  left: 20px;
  width: 90%;
  z-index: 1; 
}

.overview .float img{
  width: 100%;
  height: auto;
}

.overview h3{
  color: #f9f9f9;
  margin-bottom: .8rem;
  font-weight: 700;
  font-family: 'BigShoulders-VariableFont_opsz,wght';
}

.overview p{
  font-weight: 400;
  color: #f9f9f9;
} 

.movie-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  gap: var(--padding-small);
  position: relative;
  z-index: 3;
}

.movie-container .movie{
  width: 47%;
  max-width: 700px;
  min-width: 250px;
  height: auto;
  aspect-ratio: 16/9;
  z-index: 2;
}

.center{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}

.full-screen{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #130b0b;
}

.section-header{
  margin: 0;
  padding: 0;
}

.section-header h2{
  color: #dc1b15;
  margin-bottom: calc(var(--padding-small) * -1);
  line-height: 2;
  font-family: 'BalladofDwightFrye';
}

.section-header h4{
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'BalladofDwightFrye';
  color: #db1912;
}

.image-con{
    width: 350px;
    position: relative;
}

.image-con a{
  width: 100%;
  display: flex;
  position: relative;
  height: auto;
}

.image-con a img{
  width: 100%;
  object-fit: cover;
  height: auto;
}

.icon{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #db1111;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon path{
  fill: #ffffff;  
}

.float{
  position: absolute;
  top: 10%;
  left: 0px;
  right: 0;
  margin: auto;
  width: 90%;
  z-index: 9; 
}

.credits{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;

}

.qa-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;
  max-width: 800px;
}
.qa-container .qa{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;
}







