@import url("./nav-fc.css");
@import url("./photogal.css");
@import url("./faq.css");


*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

@font-face{
  font-family: 'BalladofDwightFrye';
  src: url('/fonts/BalladofDwightFrye.ttf')format('truetype');
font-weight:normal;
font-style:normal;
font-display:swap;
}

@font-face{
  font-family: 'TopSecret';
  src: url('/fonts/TopSecret.ttf')format('truetype');
font-weight:normal;
font-style:normal;
font-display:swap;
}

@font-face{
  font-family: 'Bangers-Regular';
  src: url('/fonts/Bangers-Regular.ttf')format('truetype');
font-weight:normal;
font-style:normal;
font-display:swap;
}

@font-face{
  font-family: 'SpecialElite-Regular';
  src: url('/fonts/SpecialElite-Regular.ttf')format('truetype');
font-weight:normal;
font-style:normal;
font-display:swap;
}

@font-face{
  font-family: 'BigShoulders-VariableFont_opsz,wght';
  src: url('/fonts/BigShoulders-VariableFont_opsz,wght.ttf')format('truetype');
font-weight:normal;
font-style:normal;
font-display:swap;
}

:root {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
  font-size: var(--p--font-size);
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  --padding-small: clamp(.6rem, -0.7543918918918919rem + 2.95945945945946vw, 8.5rem);
  --padding-medium: clamp(1.2375rem, -0.7543918918918919rem + 7.95945945945946vw, 10.5rem);
  --padding-large: clamp(3.375rem, -0.7543918918918919rem + 11.95945945945946vw, 15.5rem);
  --h6--font-size: clamp(1rem, -0.7432432432432432rem + 1.216216216216218vw, 5.875rem);
  --h5--font-size: clamp(1.2rem, -0.7432432432432432rem + 2.216216216216218vw,  6.875rem);
  --h4--font-size: clamp(1.3rem, -0.7432432432432432rem + 2.216216216216218vw, 5.875rem);
  --h3--font-size: clamp(1.4rem, -0.6432432432432432rem + 3.216216216216218vw, 8.875rem);
  --h2--font-size: clamp(1.7rem, -0.5432432432432432rem + 5.006216216216218vw, 9.875rem);
  --h1--font-size: clamp(2rem, -0.7432432432432432rem + 10.216216216216218vw, 11.875rem);
  --p--font-size: clamp(1rem, -0.6293918918918919rem + 1.9116216216216218vw, 2.5rem);
}

/* Hide all content initially */
html {
  visibility: hidden;
  background-color: #111;
}

/* But make the curtain visible */
#loading-curtain {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 9999;
  color: rgb(92, 8, 8);
  font-size: 10cqi;
  font-weight: 900;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: height 1.5s cubic-bezier(0.950, 0.050, 0.795, 0.035),
              opacity .3s cubic-bezier(0.950, 0.050, 0.795, 0.035);
}
body, html{
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}
.white{
  color: #ffffff;
} 
.grey{
  color: #c7c7c7;
}

p{
  margin: 0;
  padding: 0;
  font-size: var(--p--font-size);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: top;
  min-width: 320px;
  min-height: 100svh;
  background: #64110e;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  min-height: 100svh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #64110e;
}


.row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
  align-items: stretch;
  z-index: 1;
  padding: var(--padding-large) var(--padding-medium);
}

.col{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.red{
  background-color: #db1111; 
}

.padding-large{
  padding: var(--padding-large);
}

.shadow{
  box-shadow: -7px 53px 43px -30px rgba(0,0,0,0.9);
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  background-color: #370404;
  text-align: center;
  overflow: hidden;
}

.background img{
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%; 
  width: 100%;
  height: 100%;
  opacity: 0.2;
  object-fit: cover;
  object-position: center;
}

.clear img{
  opacity: .9;
}

.background.left img{
  object-position: left;
}

.background.right img{
  object-position: right;
}


h1{
  font-size: var(--h1--font-size);
  font-weight: 700;
  margin: 0;
}

h2{
  font-size: var(--h2--font-size);
  font-weight: 700;
  margin: 0;
}

h3{
  font-size: var(--h3--font-size);
  font-weight: 500;
  margin: 0;
}

h4{
  font-size: var(--h4--font-size);
  font-family: 'Bangers-Regular';
  font-weight: 800;
  margin: 0;
}

h5{
  font-size: var(--h5--font-size);
  font-weight: 500;
  margin: 0;
}

h6{
  font-size: var(--h6--font-size);
  font-weight: 500;
  margin: 0;
}

p{
  font-size: var(--p--font-size);
  font-weight: 400;
  margin: 0;
}

.opening-copy{
  font-size: var(--h2--font-size);
  line-height: 2;
  text-align: center;
  color: #f9f9f9;
  font-family: 'BalladofDwightFrye';
}

.opening{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding:2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  background-color: #460f0f;
}


.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 100vh;
  position: relative;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  width: 80vw;
  max-height: 100vh;
  opacity: 1;
  mix-blend-mode: hard-light;
  
}

.title .face img, .title .crsuher img{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: stretch;
  object-position: center;  
}

.title .face{
  width: 100%;
  height: 40vh;
}

.title .crusher{
  width: 100%;
  height: 20vh;
}

.title .series{
  width: 100%;
  height: auto;
}

a.start {
  position:absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  color: rgb(243, 19, 19);
  border-bottom: rgb(243, 19, 19) 4px solid;
  font-size: var(--h4--font-size);
  transition: color 0.3s ease;
  text-align: center;
  position: relative;
  font-family: "balladofdwightfrye";
  z-index: 5;
  margin-top: 1rem;
  text-transform: uppercase;
}
a.start:hover {
  color: #fffdfb;
  border-bottom: rgb(255, 255, 255) 4px solid;
}


.distressed{
  background-image: url(/img/backgrounds/distressed-1.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.two{
  background-image: url(/img/backgrounds/distressed-2.webp);
}

.three{
  background-image: url(/img/backgrounds/distressed-3.webp);
}

.four{
  background-image: url(/img/backgrounds/distressed-4.webp);
}

.video-1{
  position: absolute;
  z-index: 0;
  width: 100%; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.video-1 video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
} 

.max-width{
  max-width: 1300px;
}

.top{
  z-index: 3;
}

.overview-con{
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem 2rem 2rem;
  max-width: 600px;
  width: 80%;
  max-width: 600px;
  position: relative;
  background: url(/img/backgrounds/bkg-overview.webp) no-repeat;
  background-size: cover;
  z-index: 3;
  position: absolute;
  bottom:8%;
  left:5%;
  -webkit-box-shadow: -7px 53px 43px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: -7px 53px 43px -30px rgba(0,0,0,0.75);
  box-shadow: -7px 53px 43px -30px rgba(0,0,0,0.75);
  transform: rotate(-4deg);
}

.overview-con .float{
  position: absolute;
  top: -2vw;
  left: 20px;
  width: 90%;
  z-index: 1; 
}

.overview-con .float img{
  width: 100%;
  height: auto;
}

.overview-con h3{
  color: #f9f9f9;
  margin-bottom: .8rem;
  font-weight: 700;
}

.overview p{
  font-weight: 400;
  color: #f9f9f9;
} 

.movie-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  gap: var(--padding-small);
  position: relative;
  z-index: 3;
}

.movie-container .movie{
  width: 47%;
  max-width: 700px;
  min-width: 250px;
  height: auto;
  aspect-ratio: 16/9;
  z-index: 2;
}

.center{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  padding: 3rem 0;
  gap:2rem;
}

.nogap{
  gap: 0;
}

.full-screen{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #130b0b;
}

.section-header{
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.section-header h2{
  color: #f92119;
  margin-bottom: calc(var(--padding-small) * -1);
  line-height: 2;
  font-family: 'BalladofDwightFrye';
}

.section-header h4{
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'BalladofDwightFrye';
  color: #db1912;
}

.topsecret h4{
  z-font-family: 'TopSecret';
  color: #61c8ac;
  padding:0;
  margin: 0;
  line-height: 1;
}
.topsecret h2{
  font-family: 'TopSecret';
  color: #61c8ac;
  padding-bottom: var(--padding-small);
  font-size: var(--h1--font-size);
  transform: rotate(-3deg);
}

.image-con{
    width: 70%;
    max-width: 22vw;
    min-width: 250px;
    position: relative;
}

.image-con a{
  width: 100%;
  display: flex;
  position: relative;
  height: auto;
  cursor: pointer;
}

.image-con a img{
  width: 100%;
  object-fit: cover;
  height: auto;
}

.image-con a:hover img{
  opacity: .7;
  transition: opacity 0.3s ease;
}
.image-con a:hover .icon{
  background-color: #600906;
}

.icon{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #db1111;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.icon path{
  fill: #ffffff;  
}



.float{
  position: absolute;
  top: 10%;
  left: 0px;
  right: 0;
  margin: auto;
  width: 90%;
}

.credits{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;

}

.short{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  min-height: 55vh;
  position: relative;
  z-index: 3;
}

.margin-promo{
  margin-bottom: 55vh;
  padding: 0; 
}

.promo-panel{
  position: fixed;
  left: 0;
  width: 100%;
  height: 55vh;
  bottom: 0;
  display: flex;
  z-index: 0;
}

.float-panel{
  position: absolute;
  top: 0;
  left: 10%;
  bottom: 0;
  margin: auto;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  color: #22cfff;
  text-align: center;
}

.float-panel h2{
  margin-bottom: .8rem;
  font-weight: 700;
  margin-bottom: calc(var(--padding-small) * -1);
  line-height: 2;
  font-family: 'BalladofDwightFrye';
}



.video-panel video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* Mobile */
@media (max-width: 420px) {
  .overview-con{
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem 1rem 1rem;
    max-width: 600px;
    width: 80%;
    max-width: 600px;
    position: relative;
    background: url(/img/backgrounds/bkg-overview.webp) no-repeat;
    background-size: cover;
    z-index: 3;
    position: absolute;
    bottom:6%;
    left:10%;
    -webkit-box-shadow: -7px 53px 43px -30px rgba(0,0,0,0.9);
    -moz-box-shadow: -7px 53px 43px -30px rgba(0,0,0,0.9);
    box-shadow: -7px 53px 43px -30px rgba(0,0,0,0.9);
    transform: rotate(-4deg);
  }
}

/* 

tablet & short windows 

*/
@media (max-height: 900px) and (min-width: 600px) {
  
}






